@import url(./set.css);


body {
    background-color: var(--couleur_fond);
}

/*?------------debut popUP commentaire de topic----------*/
.popup {
    position: fixed;
    top: 10vh;
    left: 10vw;
    margin-right: 10vw;
    border: none;
    border-radius: 10px;
}

.container {
    background-color: var(--couleur_principale);
    width: 80vw;
    height: 85vh;
    border-radius: 10px;
    border: 1px solid gray;
}

.box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.part_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.part_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.post {
    height: 100%;
    width: 100%;
    background-color: var(--couleur_fond);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.top_post {
    padding-left: 25px;
    width: 100%;
    height: 10%;
    background-color: var(--couleur_principale);
    display: flex;
    flex-direction: row;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--couleur_secondaire);

}

.info-top_post {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}


.user_card_post_comment {
    width: 20%;
    margin-left: -5px;
    margin-top: 15px;
}

.user_card_post_comment::before {
    margin-left: -10px;
}



.user_card::before {
    content: url(/Forum1.0/Assets/Images/profil/user.svg);
    position: absolute;
    top: -5px;
    left: -25px;

}


.title_post {
    line-height: 22px;
    width: 100%;
    height: 30%;
}

.main_post {
    margin: 10px 0 0 5%;
    text-align: center;
    line-height: 20px;
    width: 90%;
    height: 50%;
}

.input_comment {
    margin-top: 5%;
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    border-radius: 15px;
    margin-top: 5px;
    padding: 10px;
    width: 80%;
    resize: none;
    background-color: var(--couleur_principale);
    border: 1px solid black;
}

.label_title {
    margin-top: 10px;
    width: 80%;
    text-align: center;
    font-size: 20px;
}

.title_post {
    width: 80%;
    margin: 10px 0 0 10%;
    text-align: center;
}



input {
    width: 80%;
    height: 60%;
    border-radius: 15px;
    border: 1px solid black;

}

::placeholder {
    margin-top: 50px;
    color: gray;
    opacity: .5;
}

.comment {
    padding: 10px;
    border-radius: 10px;
    height: 90%;
    width: 80%;
    background-color: var(--couleur_fond);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.comment_main {
    margin-top: 10px;
    height: 95%;
    overflow-y: scroll;
}

.comment_user {
    margin-top: 5px;
    border-bottom: 1px solid var(--couleur_secondaire);
    padding: 10px 15px;
}

.comment_user_text {
    text-align: center;
    padding: 5px;
}

.comment_user_name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button_pop {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--couleur_secondaire);
    color: var(--couleur_input);
    transition: 0.3s;
}

.button_pop:hover {
    background-color: var(--couleur_principale);
    border: solid var(--couleur_secondaire) 2px;
    color: var(--couleur_texte_principal);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

#close_pop {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/*!------------fin popUP commentaire de topic----------*/
/*?------------debut popUP creation de topic----------*/

.popup_create {
    display: none;
    position: fixed;
    top: 10vh;
    left: 25%;
    margin-right: 10%;
    width: 50%;
    border: none;
    border-radius: 10px;
}

.container_create {
    background-color: var(--couleur_principale);
    width: 100%;
    height: 85vh;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
}

.container_create>h3 {
    text-align: center;
    font-size: 24px;
}

.container_create>textarea {
    border: 1px solid var(--couleur_secondaire);
}

.area_title {
    width: 60%;
    height: 100px;
    margin-top: 24px;
}

.area_description {
    width: 80%;
    height: 150px;
    margin-top: 24px;

}

.input_tag {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 40px;
}

#tag-dropdown {
    margin-top: 5px;
    margin-right: 25px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--couleur_secondaire);
    color: var(--couleur_input);
}

.select_tags {
    position: relative;
    top: -40px;
    width: 50%;
    height: 100px;
    display: none;
}

.button_create {
    margin-top: 110px;
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--couleur_secondaire);
    color: var(--couleur_input);
    transition: 0.3s;
}

.post_close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
}

/*!------------fin popUP creation de topic----------*/

/*?------------debut sidebar----------*/


.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: fixed;
    overflow: hidden;
    top: 60px;
    left: 0;
    width: 270px;
    background: var(--couleur_principale);
    border-top: 1px solid rgba(217, 217, 217, 0.4);
    height: calc(100% - 60px);
    transition: background 1.0s ease, color 1.0s ease;
}


@media screen and (max-width:800px) {
    .sidebar {
        display: none;
    }
}

.div_tags {
    margin: 25px 20px 0 0;
    font-size: large;
}

.element_tag {
    margin: 20px 0 0 20px;

}

.tag {
    font-weight: 400;
    font-size: large;
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.tag span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}


.tag:hover svg {
    transform: translateX(0);
}

.tag:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: calc(100% + 30px);
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: -30px;
    background-color: var(--couleur_secondaire);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.tag:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.info_aside {
    margin: 10% 0 6% 10%;
    width: 80%;
    line-height: 28px;
    text-align: center;
}

hr {
    position: relative;
    left: -100%;
    width: 300%;
    margin-bottom: 10%;
}

.button_secondary:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.tag_mobile {
    margin-top: 20%;
    text-align: center;
}

#profil_picture {
    max-width: 34px;
    margin-left: 10px;
}

/*!------------fin sidebar----------*/



/*?------------debut contenu----------*/


@media screen and (width > 800px) {
    .content {
        margin: 12vh 3vw 3vw calc(270px + 3vw);
    }
}

@media screen and (width < 800px) {
    .content {
        margin: 6vh 3vw 3vw 3vw;
    }
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(1vw + 5px);

}

@media screen and (width < 500px) {
    .content {
        margin-left: 3vW;
    }
}


.user_card {
    margin: 0 8% 0 2%;
}

.user_card::before {
    content: url(../../Assets/Images/profil/user.svg);
}


@media screen and (width > 800px) {
    .card {
        max-width: 450px;
    }
}

.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--couleur_principale);
    height: 300px;
    cursor: pointer;
    transition: background 1.0s ease, color 1.0s ease;

}

.top_card {
    padding: 10px 0 0 15px;
    display: flex;
    align-items: end;
    border-bottom: 1px solid var(--couleur_secondaire);

}


.middle_card {
    margin: 3%;
}

.title_topic {
    text-align: center;
}

.title_topic::before {
    content: url(../../Assets/Images/icon_tag/tags1.svg);
}

.bottom_card {
    height: 150px;
    margin: 3%;
    text-align: center;
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
    line-height: 22px;
}

/*!------------fin contenu----------*/