@import url(./set.css);

body {
    background-color: var(--couleur_fond);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: 1s;

}

.container {
    background-color: var(--couleur_principale);
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: 1s;

}

h2 {
    margin-bottom: 10%;
}

input {
    margin-bottom: 14px;
    background-color: var(--couleur_input);
    color: var(--couleur_texte_input);
    border-radius: 10px;
    padding: 14px;
    border: none;
    width: 100%;
}

.div_input {
    position: relative;
}

#arrow_down {
    pointer-events: none;
}

.img_input {
    position: absolute;
    transform: rotate(0);
    right: 20px;
    top: 12px;
    opacity: 0.5;
    transition: .5s;
}

.img_input_rotate {
    position: absolute;
    transform: rotate(180deg);
    right: 20px;
    top: 12px;
    opacity: 0.5;
    transition: .3s;
}




.formulaire {
    display: flex;
    flex-direction: column;
}


button {
    padding: 10px;
    margin-top: 24px;
    border-radius: 10px;
    background-color: var(--couleur_secondaire);
    color: var(--couleur_input);
    border: solid var(--couleur_principale) 2px;
    transition: 0.3s;
}

button:hover {
    background-color: var(--couleur_principale);
    border: solid var(--couleur_secondaire) 2px;
    color: var(--couleur_texte_principal);
}

#showpp {
    cursor: pointer;
    width: auto;
    height: 64px;
    background: no-repeat;

}



#ppcontent {
    height: auto;
    width: 100%;
    max-width: 256px;
    display: none;
    flex-wrap: wrap;
}

:is(.navbar, .burger, .dropdowns) {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    position: absolute;
    top: -30px;
    left: 0px;
    height: 130px;
}



#logo_dark {
    opacity: 0;
}

.navbar {
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 60px;
    background: var(--couleur_principale);
    transition: background 1.0s ease, color 1.0s ease;
}

#profil_pseudo{
    cursor: pointer;
}

.burger {
    z-index: 3;
    left: 0;
    display: grid;
    place-items: center;
    width: 72px;
    height: 72px;
    background-image: url("../../Assets/Images/menu/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

body.open .burger {
    background-image: url("../../Assets/Images/menu/close.svg");
}

@media (width >=500px) {
    .burger {
        display: none;
    }
}

.button {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--couleur_secondaire);
    color: var(--couleur_input);
    transition: 0.3s;
}

.button:hover {
    background-color: var(--couleur_principale);
    border: solid var(--couleur_secondaire) 2px;
    color: var(--couleur_texte_principal);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}



.button>img {
    display: none;
}